
<script th:src="@{/scripts/actor/edit.js}"></script>

<form id="saveForm" method="post">
    <input type="hidden" name="id" id="id" th:value="${actor.id}"/>
<div class="addInfBtn" >
    <h3 class="itemTit"><span>编辑信息</span></h3>
    <table class="addNewInfList">
        <tr>
            <th>姓名</th>
            <td width="240"><input class="inp-list w-200 clear-mr f-left" type="text" th:value="${actor.name}" id="name" name="name" maxlength="16" /></td>
            <th>生日</th>
            <td>
                <input  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" class="inp-list w-200 clear-mr f-left" th:value="${actor.born} ? ${#dates.format(actor.born,'yyyy-MM-dd HH:mm:ss')} :''" id="born" name="born"/>
            </td>
        </tr>
        <tr>
            <th>性别</th>
            <td width="240">
                <select name="sex" id="sex">
                    <option value="1" th:selected="${actor.sex == 1}">男</option>
                    <option value="2" th:selected="${actor.sex == 2}">女</option>
                </select>
            </td>
        </tr>
    </table>

    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript:closeDialog(0)">返回</a>
    </div>
</div>

</form>
